header {
  width: 100%;
  padding: 26px 8%;
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: #000;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

#nav-logo {
  font-weight: 700;
  color: #fff;
  padding-right: 5px;
}

#nav-list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.nav-item.active a {
  border-bottom: solid 5px #05ff00;
}

#mobile-btn {
  display: none;
}

#mobile-menu {
  display: none;
}

@media (max-width: 1170px) {
  #logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
  }

  img {
    width: 1.5rem;
  }

  #nav-list {
    display: none;;
  }

  .nav-item a {
    background-color: transparent;
  }

  #mobile-btn {
    font-size: 1.5rem;
    display: block;
    border: none;
    background-color: transparent;
    color: azure;
    cursor: pointer;
  }

  #mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item.active a {
    border-bottom: solid 5px #05ff00;
  }

  #mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin: 24px 0px;
    justify-content: space-between;
  }

  #mobile-nav-list .nav-item {
    list-style: none;
    text-align: center;
  }
}
